@import url('https://fonts.googleapis.com/css?family=Noto+Serif+JP|Noto+Serif+SC|Noto+Serif+TC');
/** 
 * 全局 css
 */
html, body{
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  /* background: repeating-linear-gradient(45deg, #FCC568 0, #FCC568 30px, transparent 30px, transparent 60px) */
}

body {
  padding: 0px;
}

html {
  font-family: 'Noto Serif SC','Noto Serif TC','Noto Serif JP', serif;
}

.matchparent {
  height: 100%;
  width: 100%;
}

.matchrow {
  width: 100%;
}

.matchheight {
  height: 100%;
}