@import url('https://fonts.googleapis.com/css?family=Roboto|Noto+Serif+JP|Noto+Serif+SC|Noto+Serif+TC&display=swap');

html, body{
  min-width: 100%;
  min-height: 100%;
  margin: 0px 0px;
  padding: 0px 0px;
}

/* 修复底边留白的问题，默认是 baseline 模式会导致底部有白线 */
img {
  vertical-align: middle;
}

* {
  box-sizing: border-box;
}

html {
  font: 400 1.2em/1.8 "Roboto";
  color: #777;
}

.match-parent {
  height: 100%;
  width: 100%;
}

.match-parent-width {
  width: 100%;
}

.match-parent-height {
  height: 100%;
}