/**
 * 用于处理主界面在加载到转译的 css 之前的显示闪烁
 */

.flex-container {
  font-size: 1.2em;
  orientation: row;
  display: flex;
  justify-items: center;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  transition: all 0.4s ease-out;
}

.flex-container * {
  text-decoration: none;
  color: black;
}

.flex-container.item-container {
  padding: 30px;
}