article {
  padding: 0px;
  width: 100%;
  min-height: 100%;
  height: 100%;
  &.padding {
    padding: 4px;
  }
  &.fullscreen, & .fullscreen {
    padding: 0;
    width: 100%;
    min-height: 100vh;
  }
  &.matchwidth, & .matchwidth {
    width: 100%;
  }
  .one-screen {
    height: 100vh;
  }
  .float {
    position: fixed;
    margin: 10px;
    &.left { left: 0; }
    &.right { right: 0; }
    &.top { top: 0; }
    &.bottom { bottom: 0; }
  }
}
.button {
  &:focus {
    outline: 0;
  }
  font-size: 1.5em;
  margin: 8px;
  border: none;
  border-radius: 2px;
  padding: 16px 80px;
  background: #8bc34a;
  color: white;
  box-sizing: border-box;
  text-decoration: none;
  font-weight: 400;
  color: #FFFFFF;
  text-align: center;
  position: relative;
  &:active {
    top: 0.1em;
  }
  &.mini {
    font-size: 0.7em;
    margin: 4px;
    padding: 4px 12px;
  }
}

.serif {
    font-family: 'Noto Serif SC','Noto Serif TC','Noto Serif JP', serif;
}

.dashboard {
  li {
    list-style: none;
    padding-left: 8px;
    margin: 1px 2px;  
  }
  a {
    text-decoration: none;
  }
}

.dashboard#graphics-dashboard {
  li {
    border-left: 4px solid #F4A261;
    &:hover {
      border-left: 6px solid #E76F51;
      transition: all 0.1s ease;
    }
  }
  a {
    color: #264653;
  }
}

.dashboard#vue-dashboard {
  li {
    border-left: 4px solid #41B883;
    &:hover {
      border-left: 6px solid #34495E;
      transition: all 0.1s ease;
    }
  }
  a {
    color: #34495E;
  }
}

.dashboard#react-dashboard {
  li {
    border-left: 4px solid #222;
    &:hover {
      border-left: 6px solid #61DBFB;
      transition: all 0.1s ease;
    }
  }  
  a {
    color: #222;
  }
}

.global-navigation {
  a {
    margin: 0px 4px 0px 0px;
    font-size: 1.2em;
    font-family: 'Roboto', serif;
    text-decoration: none;
    color: #212121;
    transition: all 0.2s;
    &:active, &:visited{
      color: #212121;
    }
    &:hover {
      color: #D62800;
    }
  }
}