.flex-container, .focus-center {
  &.row { flex-direction: row; }
  &.col, &.column { flex-direction: column; }

  display: flex;
  justify-items: center;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
}

.focus-center {
  height: 100vh;
  flex-direction: column;
}

.flex-container {
  .card {
    padding: 20px;
    box-shadow: 2px 2px 5px #666;
  }
}