@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

.flex-container {
    &.row { orientation: row; }
    &.column { orientation: column; }
    display: flex;
    justify-items: center;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.flex-container {
    background: linear-gradient(270deg, #c93b49, #e5842c);
    background-size: 400% 400%;
    animation: gradient-animator 5s ease infinite;
    background-clip: text;
    -webkit-background-clip: text;
}

path.flask-liquid {
    fill: #c93b49;
}

@keyframes gradient-animator { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

.link {
    color: transparent;
    margin: 10px;
    text-align: center;
    font-size: 1.6em;
    font-weight: 600;

    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    &:visited {
        color: transparent;
    }
}

.waterline-in-flask {
    animation: animation-waterline-in-flask 0.5s infinite alternate-reverse;
}

@keyframes animation-waterline-in-flask {
    from{
        d: path('m0,50 h30 C50,30 50,72 70,50 h25 v50 H0');
    }
    to{
        d: path('m0,50 h30 C50,68 50,25 70,50 h25 v50 H0');
    }
}